In [7]:
%cd '/home/naodell/work/z_plus_jpsi'

import pandas as pd
import ROOT as r

import scripts.plot_tools as pt

/home/naodell/work/z_plus_jpsi

In [8]:
selection = 'emu'
datasets = ['ttbar_inclusive', 't_tw', 'tbar_tw']
features = ['n_bjets', 'n_taus', 'gen_cat']
dm = pt.DataManager(input_dir     = f'data/flatuples/{selection}_2016',
                    dataset_names = datasets,
                    selection     = selection,
                    period        = 2016,
                    scale         = 36.4e3,
                    cuts          = 'n_bjets >= 1'
                   )
dataframes = dm.get_dataframes(['ttbar', 't'])
df_ttbar = dataframes['ttbar'][features]
df_t     = dataframes['t'][features]

Loading dataframes:   0%|                      | 0.00/3.00 [00:00<?, ?it/s]/home/naodell/work/z_plus_jpsi/scripts/plot_tools.py:210: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  df['label'] = df.shape[0]*[label, ]
Loading dataframes:  33%|█████          | 1.00/3.00 [00:00<00:01, 1.46it/s]/opt/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:517: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s
Loading dataframes: 100%|███████████████| 3.00/3.00 [00:00<00:00, 2.00it/s]

ttbar has more than 500000 entries...

In [9]:
# files for generated event counts
root_file = r.TFile(f'data/bltuples/output_{selection}_2016.root')
hcounts = {d:r.TH1D(root_file.Get(f'GenCategory_{d}')) for d in datasets} # there's a fucking typo!!!
df_counts = pd.DataFrame({d:[h.GetBinContent(i) for i in range(h.GetNbinsX()+1)] for d, h in hcounts.items()})
df_counts['t'] = df_counts['t_tw'] + df_counts['tbar_tw']
df_counts = df_counts.drop(['t_tw', 'tbar_tw'], axis=1)
#df_counts.iloc[:21]

In [10]:
# ttbar numbers
cut_list = [df_ttbar.query('n_bjets == 1').gen_cat.value_counts(), df_ttbar.query('n_bjets >= 2').gen_cat.value_counts()]
df = pd.concat([df_counts.ttbar_inclusive] + cut_list, axis=1)
df.columns = ['generated', 'n_bjets = 1', 'n_bjets >= 2']
df = df[1:22]
df.transpose().to_csv(f'data/ttbar_acc_{selection}.csv')
df

     generated  n_bjets = 1  n_bjets >= 2
1    1811409.0         99.0          10.0
2    1811532.0         85.0          18.0
3    3620281.0     327638.0       98203.0
4      57057.0          1.0           NaN
5      54227.0          NaN           NaN
6     111125.0       1919.0         602.0
7     418126.0          6.0           2.0
8     407605.0         39.0          15.0
9     763147.0          NaN           NaN
10    642646.0         33.0           6.0
11    626108.0      21702.0        6288.0
12   2350887.0        109.0          15.0
13    643368.0      28842.0        8598.0
14    627277.0         24.0           7.0
15   2353727.0        658.0         138.0
16  22670017.0       1491.0         201.0
17  22653517.0       2652.0         276.0
18   4016590.0        122.0          15.0
19   3923504.0        156.0          22.0
20  14718933.0          3.0           1.0
21  70930278.0          4.0           NaN

In [11]:
# t numbers
cut_list = [df_t.query('n_bjets == 1').gen_cat.value_counts(), df_t.query('n_bjets >= 2').gen_cat.value_counts()]
df = pd.concat([df_counts.t] + cut_list, axis=1)
df.columns = ['generated', 'n_bjets = 1', 'n_bjets >= 2']
df = df[1:22]
df.transpose().to_csv(f'data/t_acc_{selection}.csv')
df

    generated  n_bjets = 1  n_bjets >= 2
1     23105.0          1.0           NaN
2     23040.0          1.0           NaN
3     46342.0       2360.0         413.0
4       694.0          NaN           NaN
5       717.0          NaN           NaN
6      1420.0         11.0           4.0
7      5260.0          NaN           NaN
8      5158.0          NaN           NaN
9      9727.0          NaN           NaN
10     8199.0          1.0           NaN
11     8029.0        165.0          26.0
12    30054.0          NaN           NaN
13     8163.0        222.0          49.0
14     8006.0          NaN           NaN
15    29970.0          9.0           1.0
16   290101.0          8.0           2.0
17   289467.0         19.0           1.0
18    50864.0          2.0           NaN
19    50050.0          1.0           NaN
20   187515.0          NaN           NaN
21   904067.0          NaN           NaN